html, body{
	height:100%;
	width:100%;
	margin: 0;
	overflow:hidden;
  color: #d8dee9;
}
body{
	background-image: url("images/701802.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
*{
	font-family: "Overpass Mono", monospace;
}
.smoothed {
	text-rendering: optimizeLegibility !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: always;
	webkit-text-stroke: 0.45px;
}
#wrapper{
	font-family: "Libre Baskerville", Georgia, "Times New Roman", times, serif;
	margin: auto;
	margin-top: 10px;
	position:relative;
	display:table;
	table-layout:fixed;
	height:100%;
	width:85%;
}
#centre{
	/*display:table-row;*/
	height:95%;
}
.header,#footer{
	font-style:oblique;
	font-style:italic;
	font-size:9pt;
	letter-spacing:-0.2pt;
}
.header {
	border-bottom: 1px solid rgb(33, 25, 0);
	padding-bottom:1pt;
	padding-top:1pt;
	padding-right:1ex;
}
#header-left {
	text-align:left;
}
#header-right {
	text-align:right;
}
#footer {
	border-top: 1px solid rgb(33, 25, 0);
	padding-top:1ex;
	padding-bottom:1ex;
	text-align:center;
}
#blurb-echo {
	margin-top:50px;
	left:20px;
	text-align:left;
	width:90%;
	font-style:oblique;
	font-style:italic;
	font-size:10pt;
	line-height:3ex;
}
#game-title, .main-title {
	font-size:32pt;
	font-weight:bold;
	text-align:center;
	padding-top:0.5ex;
	font-family: "Righteous", Arial, Helvetica, sans-serif;
	position: relative;
}
#game-title {
	font-size:54pt;
	padding-right:0.5em;
	text-align:right;
	top: 10pt;
	line-height:0.55;
	margin:10px;

}
.odd-offset {
	font-family: "Righteous", Arial, Helvetica, sans-serif;
	display:inline;
	font-size:60pt;
	margin-right:30pt;
}
.abstract {
	text-align:center;
}
#lh-page, #rh-page {
	height:95%;
}
#rh-page {
	min-width: 390px;
}
#lh-page {
	overflow:hidden;
}
.lhs,.rhs {
	display:table-cell;
	position:absolute;
	height:100%;
	padding-left:3%;
	padding-right:1%;
  width:40%;
	min-width: 450px;
}
.lhs{
	left:0%;
}
.rhs{left:50%;}
.paper-texture {
	position:absolute;
	top:0px;
	height:95%;
	width:45%;
	background-color: #3b4252;
  z-index:-1;
	min-width:450px;
}
#texture-1 {
	left:0%;
}
#texture-2{
	left:50%;
	-moz-transform: scale(-1);
	-o-transform: scale(-1);
	-webkit-transform: scale(-1);
	transform: scale(-1);
	transform:offset(10px);
	filter: FlipH FlipV;
	-ms-filter: "FlipH FlipV";
}
#content-pane {
	margin-top: 30px;
	height:80%;
	overflow-y:scroll;
}
#content-pane::-webkit-scrollbar {
  display: none;
}
#content-pane {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#content {
	height:100%;
	width:100%;
	font-size:10pt;
	display:table;
	table-layout:fixed;
	padding-bottom:2ex;
}
#content-padding{
	height:80%;
	display:table-row;
}
.room-name {
	font-size:12pt;
	font-weight:bold;
	padding-bottom:2ex;
}
.paragraph {
	font-size:9pt;
	display:table-row;
	margin-bottom:2ex;
}
.paragraph-text, .command-text {
	line-height:3ex;
	text-align: justify;
	text-justify: inter-word;
	padding-bottom:1ex;
}
.command-text {
	font-size: 9pt;
	text-align:center;
	padding-top:5ex;
	font-style:oblique;
	font-style:italic;
}
.tab-head {
	display:inline;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#input-div{
	padding:5pt;
	padding-left:15pt;
}
.paragraph-body:first-letter {
	display: inline;
	font-size: 50pt;
	float: left;
	line-height: 32pt;
	padding-top: 4pt;
	font-weight:bold;
	font-family: "Share Tech Mono", monospace;
}
.first-word {
	font-size:18px;
	font-variant:small-caps;
}
input#command {
	font-family: "Share Tech Mono";
	text-transform: uppercase;
	color:#d8dee9;
	width: 95%;
	min-width: 330px;
	background: rgba(256, 256, 256, 0.0);
	border: none;
	cursor: text;
	font-size: 12pt;
}
input#command:focus {
  outline-width: 0;
}
#blurb-echo .paragraph-body:first-letter {
 	padding-right:0.3ex;
}
.bookmarks-cont {
	padding: 7px 5px;
	overflow-x:auto;
	white-space:nowrap;
	display:block;
}
.section {
	position:absolute;
	z-index:-10;
	height:95%;
	min-width: 333px;
}
.sub-section {
	border:1px solid rgb(33, 25, 0);
	margin-bottom: 10px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.1);
}
.bookmarks {
	background-color:#81a1c1;
	width:calc(45% - 20px);
	padding: 1px 10px;
	position:relative;
	min-width: 430px;
}
.bookmark {
	font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	width: auto;
	height:auto;
	margin:0;
	padding:0 5px;
	display:inline-block;
	text-align:center;
}
.game-thumb{
	height:6em;
}
