<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'web/web.css') }}">
        <link rel="icon" type="image/png" href="favicon.png" />
        <script src="{{ url_for('static', filename = 'terminal.js') }}" type="module"></script>
        <title>Parchment</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'web/index.css') }}">
        <script src="{{ url_for('static', filename = 'web/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'web/main.js') }}" type="module"></script>
        <script>
            parchment_options = {
                default_story: [ "{{ url_for('static', filename = 'PS.z5') }}" ],
                lib_path: "{{ url_for('static', filename = 'web') }}",
                page_title: 0,
            };
        </script>
    </head>
    <body class="theme-green" onload="onload()">
        <div id="monitor">
            <div id="screen">
                <div id="crt" class="off" onClick="handleClick(event)">
                    <div class="scanline"></div>
                    <div class="terminal">
                        <div id="gameport">
                            <div id="windowport">
                                <noscript>
                                    <p>You'll need to turn on Javascript in your web browser to play this game.</p>
                                </noscript>
                            </div>
                            <div id="loadingpane">
                                <em>&nbsp;&nbsp;&nbsp;Loading...</em>
                            </div>
                            <div id="errorpane" style="display:none;"><div id="errorcontent">...</div></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="slider">
                <label class="switch">
                    <input type="checkbox" onclick="togglePower()" />
                    <span class="slider"></span>
                </label>
            </div>

            <div id="controls">
                <div id="themes">
                    <button
                     class="theme"
                     data-theme="red"
                     onClick="theme(event)"
                     ></button>
                    <button
                     class="theme active"
                     data-theme="green"
                     onClick="theme(event)"
                     ></button>
                    <button
                     class="theme"
                     data-theme="blue"
                     onClick="theme(event)"
                     ></button>
                </div>
                <div id="power">
                    <label class="rocker rocker-small">
                        <input
                           id="switch"
                           type="checkbox"
                           onclick="togglePower()"
                           checked
                           />
                        <span class="switch-left">O</span>
                        <span class="switch-right">I</span>
                    </label>
                </div>
            </div>
        </div>
    </body>
</html>
