<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <script src="{{ url_for('static', filename = 'scripts/main.js') }}" type="module"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/web.css') }}">
      <link rel="icon" type="image/png" href="favicon.png" />
      <title>Home</title>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/index.css') }}">
      </script>
  </head>
  <body>
      <div class="desktop">
          <div id="monitor">
              <div id="screen">
                  <div id="crt" class="on">
                      <div class="scanline"></div>
                      <div class="terminal">
                        <a href="#" id="continue"></a><br>
                         <div class="typedtex">
                         </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </body>
</html>
