/*https://www.istockphoto.com/photos/old-mainframe?mediatype=photography&phrase=old%20mainframe&sort=best*/
@font-face {
  font-family: "VT323";
  src: url(../fonts/VT323-Regular.ttf);
}

/*********** VARIABLES *************/

:root {
	--color: #a5a5ff;
	--bg: #00466a;
	--off: #000;
	--dark: #000;
	--term: "> ";
}

/*********** THEMES  *************/
.theme-blue {
	--color: var(--blue-color);
	--bg: var(--blue-bg);
	--term: "";
}


/*********** GENERIC STUFF *************/

html, body {
	background: #00466a;
	height:100%;
	width:100%;
  margin: 0;
	font-family: sans-serif;
	overflow:hidden;
}

/*********** PARTS OF THE SCREEN *************/
.desktop{
	height: 100%;
	width: auto;
	background-image: url(../img/bg3.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
#screen {
	position: relative;
}
/* The screen itself + border */
#crt{
	font-family: "VT323";
	top: 5%;
  left: 5%;
  width: 600px;
	height: 550px;
	position: fixed;
	background: rgba(0,70,106,0.8);
	animation: on 2s linear;
	transition: all 0.5s;
}
#crt:after {
	opacity: 0;
	background: #fff;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 3;
}
#crt.turn-off:after {
	animation: turnOff 0.4s ease-in-out;
	/* animation-fill-mode: forwards; */
}
#crt:not(.off):before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(
		to bottom,
		rgba(18, 16, 16, 0.1) 50%,
		rgba(0, 0, 0, 0.25) 50%
	);
	background-size: 100% 8px;
	z-index: 2;
	pointer-events: none;
	animation: fadeIn 2s;
}
.terminal {
  font-size:15px;
	height: 100%;
	padding: 2rem;
	overflow-y: auto;
	overflow-x: scroll;
	word-break: break-word;
	text-transform: uppercase;
	animation: textShadow 4s infinite;
	color: white;
	text-shadow: 0 0 1px #c8c8c8;
}
::selection {
	background: var(--color);
	color: var(--bg);
	text-shadow: none;
}
/* Scanline moving top to bottom over the screen */
.scanline {
	width: 100%;
	height: 100px;
	z-index: 8;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(255, 255, 255, 0.2) 10%,
		rgba(0, 0, 0, 0.1) 100%
	);
	opacity: 0.1;
	position: absolute;
	bottom: 100%;
	pointer-events: none;
	animation: scanline 10s linear infinite;
}

/*********** MEDIA QUERIES *************/

/* For really small screens, only show fullscreen mode */
@media only screen and (max-width: 425px), (max-height: 425px) {
	#crt {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
:root {
	--dark: #111;
	--switch: rgb(90, 22, 10);
	--switch-accent: rgb(59, 14, 6);
	--switch-on: rgb(247, 37, 0);
	--text-on: #fff;
	--text-off: #ddd;
}
@keyframes cursor {
	0% {opacity: 1;}
	25% {opacity: 0;}
	75% {opacity: 1;}
	100% {opacity: 1;}
}
@keyframes flicker {
	0% {opacity: 0.27861;}
	5% {opacity: 0.34769;}
	10% {opacity: 0.23604;}
	15% {opacity: 0.90626;}
	20% {opacity: 0.18128;}
	25% {opacity: 0.83891;}
	30% {opacity: 0.65583;}
	35% {opacity: 0.67807;}
	40% {opacity: 0.26559;}
	45% {opacity: 0.84693;}
	50% {opacity: 0.96019;}
	55% {opacity: 0.08594;}
	60% {opacity: 0.20313;}
	65% {opacity: 0.71988;}
	70% {opacity: 0.53455;}
	75% {opacity: 0.37288;}
	80% {opacity: 0.71428;}
	85% {opacity: 0.70419;}
	90% {opacity: 0.7003;}
	95% {opacity: 0.36108;}
	100% {opacity: 0.24387;}
}
@keyframes textShadow {
	0% {text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),-0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	5% {text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),-2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	10% {text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),-0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	15% {text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),-0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	20% {text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),-3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	25% {text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),-1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	30% {text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),-0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	35% {text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),-3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	40% {text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),-3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	45% {text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),-2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	50% {text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),-0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	55% {text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),-2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	60% {text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),-2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	65% {text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),-2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	70% {text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),-0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	75% {text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),-1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	80% {text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),-0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	85% {text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),-0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	90% {text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),-3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	95% {text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),-2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	100% {text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),-2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
}
@keyframes glow {
	0% {box-shadow: 0 0 -10px var(--color);}
	50% {box-shadow: 0 0 10px var(--color);}
	100% {box-shadow: 0 0 -10px var(--color);}
}
@keyframes scanline {
	0% {bottom: 100%;}
	80% {bottom: 100%;}
	100% {bottom: -20%;}
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
