@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");

/*********** VARIABLES *************/

:root {
	--green-color: #5bf870;
	--green-bg: #05321e;
	--red-color: #c0100a;
	--red-bg: #1b0302;
	--blue-color: #a5a5ff;
	--blue-bg: #4242e7;
	--off: #050505;
	--dark: #111;
	--term: "> ";
}

/*********** THEMES  *************/

.theme-red {
	--color: var(--red-color);
	--bg: var(--red-bg);
	--term: "$ ";
}
.theme-green {
	--color: var(--green-color);
	--bg: var(--green-bg);
        --term: "> ";
}
.theme-blue {
	--color: var(--blue-color);
	--bg: var(--blue-bg);
	--term: "";
}
.theme-red .char {
	animation: type 0.5s linear 0s 1;
}
.theme-blue #crt {
	background-image: none;
	background-color: var(--color);
	box-shadow: none;
	border-radius: 0.5em;
	padding: 5rem;
}
.theme-blue #crt:not(.off):before {
	background: none;
	background-color: var(--bg);
	top: 3rem;
	left: 3rem;
	bottom: 3rem;
	right: 3rem;
	z-index: 0;
}
.theme-blue .scanline {
	display: none;
}
.theme-blue .terminal {
	padding: 0;
}

/*********** GENERIC STUFF *************/
html,
*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	height:100%;
	background: #111;
	margin: 0;
	font-family: sans-serif;
}

/*********** PARTS OF THE SCREEN *************/

#monitor {
	margin: 3vmin auto;
	padding: 5.5vmin;
	width: min-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #3f3933;
	border-radius: 0.5rem;
}
#screen {
	position: relative;
	border: 30px solid transparent;
	border-image-source: url(../img/bezel_gray.png);
	border-image-slice: 30 fill;
	border-image-outset: 0;
	overflow: scroll;
}
/* The screen itself + border */
#crt {
	font-family: "VT323", monospace;
	width: 80ch; /* This makes 80 monospace characters fit on the screen */
	height: calc(80ch * 0.8);
	font-size: max(
		1rem,
		2.2vmin
	); /* Scale the font-size relative to the minimum screen dimension */
	position: relative;
	background: var(--bg);
	background-image: radial-gradient(ellipse, var(--bg) 0%, var(--off) 90%);
	animation: on 2s linear;
	transition: all 0.5s;
}
#crt:after {
	opacity: 0;
	background: #fff;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 3;
}
#crt.turn-off:after {
	animation: turnOff 0.4s ease-in-out;
	/* animation-fill-mode: forwards; */
}
#crt:not(.off):before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(
		to bottom,
		rgba(18, 16, 16, 0.1) 50%,
		rgba(0, 0, 0, 0.25) 50%
	);
	background-size: 100% 8px;
	z-index: 2;
	pointer-events: none;
	animation: fadeIn 2s;
}
/* Screen turned off */
#crt.off {
	background: var(--off);
}
#crt.off:before {
	background: none;
}
#crt.off * {
	color:rgba(0, 0, 0, 0);
        text-shadow:none;
}
#crt.off .scanline{
    display:none;
}
.terminal {
	position: relative;
	height: 100%;
	padding: 2rem;
	overflow-y: auto;
	overflow-x: hidden;
	word-break: break-word;
	text-transform: uppercase;
	animation: textShadow 4s infinite;
	color: var(--color);
	text-shadow: 0 0 5px #c8c8c8;
}
::selection {
	background: var(--color);
	color: var(--bg);
	text-shadow: none;
}
/* Scanline moving top to bottom over the screen */
.scanline {
	width: 100%;
	height: 100px;
	z-index: 8;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(255, 255, 255, 0.2) 10%,
		rgba(0, 0, 0, 0.1) 100%
	);
	opacity: 0.1;
	position: absolute;
	bottom: 100%;
	pointer-events: none;
	animation: scanline 10s linear infinite;
}

/*********** CONTROLS *************/

button {
	cursor: pointer;
	outline: none;
	color: var(--dark);
}
#controls {
	width: 100%;
	margin-top: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
button:active,
#themes button.active {
	background-color: var(--color);
}
#themes {
	display: flex;
	flex-direction: column;
}
#themes button {
	width: 3rem;
	height: 3rem;
	margin: 0.5rem;
	border: 5px solid var(--dark);
	border-radius: 50%;
	box-shadow: inset 0 0 10px 0 #000;
	cursor: pointer;
	outline: none;
}
#power {
	display: flex;
	align-items: center;
}
button[data-theme="red"] {
	background: var(--red-bg);
	border-color: var(--red-color);
}
button[data-theme="green"] {
	background: var(--green-bg);
	border-color: var(--green-color);
}
button[data-theme="blue"] {
	background: var(--blue-bg);
	border-color: var(--blue-color);
}

/*********** SLIDER ********************/

#slider {
	display: none;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--bg);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.slider:before {
	position: absolute;
	content: "O";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--color);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	display: grid;
	place-items: center;
}
input:checked + .slider {
	background-color: var(--color);
}
input:focus + .slider {
	box-shadow: 0 0 6px 1px var(--color) inset;
}
input:checked + .slider:before {
	background-color: var(--bg);
	color: var(--color);
	content: "I";
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/*********** MEDIA QUERIES *************/

/* For really small screens, only show fullscreen mode */
@media only screen and (max-width: 425px), (max-height: 425px) {
	#crt {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	#controls {
		display: none;
	}
	#slider {
		display: initial;
		position: fixed;
		top: 50%;
		right: 50%;
		opacity: 1;
		transition: top 1s ease-out, right 1s ease-out, opacity 1s ease-out;
		animation: glow 3s ease-in-out infinite;
	}
	#slider.on {
		top: 10px;
		right: 10px;
		opacity: 0.2;
		animation: none;
	}
}
/* Some fixes for smaller screens */
@media only screen and (max-width: 768px) {
	#themes{
		display: none;
	}
	#power {
		width: 100%;
		justify-content: space-around;
	}
}
@media only screen and (min-width: 800px) {
	#themes {
		flex-direction: row;
	}
}
:root {
	--dark: #111;
	--switch: rgb(90, 22, 10);
	--switch-accent: rgb(59, 14, 6);
	--switch-on: rgb(247, 37, 0);
	--text-on: #fff;
	--text-off: #ddd;
}
.rocker {
	display: inline-block;
	position: relative;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #888;
	width: 7em;
	height: 4em;
	overflow: hidden;
	border-bottom: 0.5em solid var(--dark);
}
.rocker-small {
	font-size: 1em; /* Sizes the switch */
	margin: 0.5rem 1.5em;
}
.rocker::before {
	content: "";
	position: absolute;
	top: 0.5em;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--switch-accent);
	border: 0.5em solid var(--dark);
	border-bottom: 0;
}
.rocker input {
	opacity: 0;
	width: 0;
	height: 0;
}
.switch-left,
.switch-right {
	cursor: pointer;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5em;
	width: 3em;
	transition: 0.2s;
}
.switch-left {
	height: 2.4em;
	width: 2.75em;
	left: 0.85em;
	bottom: 0.4em;
	background-color: var(--switch);
	transform: rotate(15deg) skewX(15deg);
}
.switch-right {
	right: 0.5em;
	bottom: 0;
	background-color: var(--switch-accent);
	background-image: radial-gradient(
		at right,
		var(--switch-on) 0%,
		var(--switch) 75%
	);
	color: #fff;
}
input:checked + .switch-left + .switch-right {
	background-image: none;
}
.switch-left::before,
.switch-right::before {
	content: "";
	position: absolute;
	width: 0.4em;
	height: 2.45em;
	bottom: -0.45em;
	background-color: var(--switch-accent);
	transform: skewY(-65deg);
}
.switch-left::before {
	left: -0.4em;
}
.switch-right::before {
	right: -0.375em;
	background-color: transparent;
	transform: skewY(65deg);
}
input:checked + .switch-left {
	background-color: var(--switch);
	color: #fff;
	bottom: 0px;
	left: 0.5em;
	height: 2.5em;
	width: 3em;
	transform: rotate(0deg) skewX(0deg);
}
input:checked + .switch-left::before {
	background-color: transparent;
	width: 3.0833em;
}
input:checked + .switch-left + .switch-right {
	background-color: var(--switch);
	color: #fff;
	bottom: 0.4em;
	right: 0.8em;
	height: 2.4em;
	width: 2.75em;
	transform: rotate(-15deg) skewX(-15deg);
}
input:checked + .switch-left + .switch-right::before {
	background-color: var(--switch-accent);
}
/* Keyboard Users */
input:focus + .switch-left {
	color: var(--text-off);
}
input:checked:focus + .switch-left {
	color: var(--text-on);
}
input:focus + .switch-left + .switch-right {
	color: var(--text-on);
}
input:checked:focus + .switch-left + .switch-right {
	color: var(--text-off);
}
@keyframes cursor {
	0% {opacity: 1;}
	25% {opacity: 0;}
	75% {opacity: 1;}
	100% {opacity: 1;}
}
@keyframes flicker {
	0% {opacity: 0.27861;}
	5% {opacity: 0.34769;}
	10% {opacity: 0.23604;}
	15% {opacity: 0.90626;}
	20% {opacity: 0.18128;}
	25% {opacity: 0.83891;}
	30% {opacity: 0.65583;}
	35% {opacity: 0.67807;}
	40% {opacity: 0.26559;}
	45% {opacity: 0.84693;}
	50% {opacity: 0.96019;}
	55% {opacity: 0.08594;}
	60% {opacity: 0.20313;}
	65% {opacity: 0.71988;}
	70% {opacity: 0.53455;}
	75% {opacity: 0.37288;}
	80% {opacity: 0.71428;}
	85% {opacity: 0.70419;}
	90% {opacity: 0.7003;}
	95% {opacity: 0.36108;}
	100% {opacity: 0.24387;}
}
@keyframes textShadow {
	0% {text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),-0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	5% {text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),-2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	10% {text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),-0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	15% {text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),-0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	20% {text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),-3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	25% {text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),-1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	30% {text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),-0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	35% {text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),-3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	40% {text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),-3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	45% {text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),-2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	50% {text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),-0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	55% {text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),-2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	60% {text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),-2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	65% {text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),-2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	70% {text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),-0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	75% {text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),-1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	80% {text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),-0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	85% {text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),-0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	90% {text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),-3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	95% {text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),-2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
	100% {text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),-2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
}
@keyframes glow {
	0% {box-shadow: 0 0 -10px var(--color);}
	50% {box-shadow: 0 0 10px var(--color);}
	100% {box-shadow: 0 0 -10px var(--color);}
}
@keyframes scanline {
	0% {bottom: 100%;}
	80% {bottom: 100%;}
	100% {bottom: -20%;}
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
